<div class="container">
  <h1> My Shopping Cart </h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>User Email</th>
        <th>Book Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @pending_purchases.each do |purchase| %>
        <tr>
          <td> <%= purchase.user.email %> </td>
          <td> <%= purchase.book.title %> </td>
          <td> <%= purchase.quantity %>
               <%= link_to 'Edit Quantity', edit_pending_purchase_path(purchase), id: "edit_quantity" %> </td>
          <td> <%= purchase.price_at_purchase %> </td>
          <%= form_for(current_user.pending_purchases.find_by_book_id(purchase.book.id),
                       method: :delete) do |f| %>
            <td><%= f.submit "Remove from Cart" %></td>
          <% end %>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <%= hidden_field_tag :pending_purchase_id, purchase.id %>
              <label class="amount">
                <td>Amount: <%= purchase.price_at_purchase * 100 %></td>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Your Books"
                    data-billing-address=true
                    data-shipping-address=true
                    data-amount="500"
                    data-label="Purchase"
                    data-panel-label="Submit Order"
                    data-locale="auto"></script>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
