<%= f.fields_for(:credit_card) do |ff| %>
  <div class="form-group">
    <%= ff.label :billing_address1 %>
    <%= ff.text_field :billing_address1 %>
  </div>
  <div class="form-group">
    <%= ff.label :billing_address2 %>
    <%= ff.text_field :billing_address2 %>
  </div>
  <div class="form-group">
    <%= ff.label :billing_city %>
    <%= ff.text_field :billing_city %>
  </div>
  <div class="form-group">
    <%= ff.label :billing_state %>
    <%= ff.text_field :billing_state %>
  </div>
  <div class="form-group">
    <%= ff.label :billing_zip %>
    <%= ff.number_field :billing_zip %>
  </div>
<% end %>
