<div class="container">
  <h1> Order Summary </h1>
  <% current_user.cart.line_items.each do |line_item| %>
    <p> Title: <%= line_item.book.title %> </p>
    <p> Author: <%= line_item.book.author %> </p>
    <p> Published On: <%= line_item.book.published_date %> </p>
    <p> Price: <%= line_item.book.price %> </p>
    <p> Quantity: <%= line_item.quantity %> </p>
    <p> Total Price: <%= line_item.total_price %> </p>
  <% end %>
  <h3> Total: <%= current_user.cart.total_cart_price %> </h3>

  <%= form_for(@order) do |f| %>
    <%= hidden_field_tag :card_number %>
    <%= hidden_field_tag :card_code %>
    <%= hidden_field_tag :card_month %>
    <div class="actions">
      <%= f.submit "Confirm" %>
    </div>
  <% end %>
</div>
