<div class="container">
  <h1>New Order</h1>
  <%= form_for(@order) do |f| %>
    <span class="payment-errors"></span>
    <div class="form-group">
      <%= f.label :shipping_address1 %>
      <%= f.text_field :shipping_address1 %>
    </div>
    <div class="form-group">
      <%= f.label :shipping_address2 %>
      <%= f.text_field :shipping_address2 %>
    </div>
    <div class="form-group">
      <%= f.label :shipping_city %>
      <%= f.text_field :shipping_city %>
    </div>
    <div class="form-group">
      <%= f.label :shipping_state %>
      <%= f.text_field :shipping_state %>
    </div>
    <div class="form-group">
      <%= f.label :shipping_zip %>
      <%= f.number_field :shipping_zip %>
    </div>
      <%= f.fields_for(:credit_card) do |ff| %>
        <div class="form-group">
          <%= ff.label :billing_address1 %>
          <%= ff.text_field :billing_address1 %>
        </div>
        <div class="form-group">
          <%= ff.label :billing_address2 %>
          <%= ff.text_field :billing_address2 %>
        </div>
        <div class="form-group">
          <%= ff.label :billing_city %>
          <%= ff.text_field :billing_city %>
        </div>
        <div class="form-group">
          <%= ff.label :billing_state %>
          <%= ff.text_field :billing_state %>
        </div>
        <div class="form-group">
          <%= ff.label :billing_zip %>
          <%= ff.number_field :billing_zip %>
        </div>
      <% end %>
    <div class="form-group">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil, "data-stripe": "number" %>
    </div>
    <div class="form-group">
      <%= label_tag :card_code, "CVV" %>
      <%= text_field_tag :card_code, nil, name: nil, "data-stripe": "cvv" %>
    </div>
    <div class="form-group">
      <%= label_tag :card_month, "Credit Card Expiration" %>
      <%= select_month nil, { add_month_numbers: true }, { name: nil, id: "card-month", "data-stripe": "exp-month" } %>
      <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year + 10 }, { name: nil, id: "card-year", "data-stripe": "exp-year",} %>
    </div>
    <div class="actions">
      <%= hidden_field_tag(:preview, 'preview') %>
      <%= f.button "Submit Order" %>
    </div>
  <% end %>
</div>
