<div class="container">
  <h1>New Order</h1>
  <%= form_for(@order) do |f| %>
    <span class="payment-errors"></span>
    <%= render "shipping_form", f: f %>
    <% if current_user.credit_card.card_token.nil? %>
      <%= render "billing_form", f: f %>
      <%= render "credit_card_form", f: f %>
    <% else %>
      <p> You have a credit card on file. The last four digits are <%= @order.user.credit_card.last_four_digits %>. </p>
    <% end %>
    <div class="actions ">
      <%= f.submit "Submit Order" %>
    </div>
  <% end %>
</div>
