<div class="container">
  <h1>New Order</h1>
  <%= form_for(@order) do |f| %>
    <span class="payment-errors"></span>
    <%= render "shipping_form", f: f %>
    <%= render "billing_form", f: f %>
    <%= render "credit_card_form", f: f %>
    <div class="actions">
      <%= f.submit "Submit Order" %>
    </div>
  <% end %>
</div>
