<div class="container">
  <h1>Book</h1>
  <p> Title: <%= @book.title %> </p>
  <p> Published On: <%= @book.published_date %> </p>
  <p> Author: <%= @book.author %> </p>
  <p> Price: <%= @book.price.format %> </p>
  <p> Discount Price: <%= @book.discount_price.format if @book.discount_cents > 0 %> </p>
  <p> Category: <%= @book.category %> </p>
  <p> Description: <%= @book.description %> </p>
  <%= form_for(current_user.cart.line_items.build) do |f| %>
    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, id: "edit_quantity", value: 1 %>
    </div>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= f.submit "Add to Cart", id: "add_to_cart" %>
  <% end %>
<div>
