<div class="container">
  <h1>Book</h1>
  <p> <%= @book.title %> </p>
  <p> <%= @book.published_date %> </p>
  <p> <%= @book.author %> </p>
  <p> <%= @book.price %> </p>
  <p> <%= @book.category %> </p>
  <p> <%= @book.description %> </p>

  <%= form_for(current_order.line_items.build) do |f| %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= f.label :quantity %>:
    <%= f.number_field :quantity, value: 1 %><br />
    <td><%= f.submit "Add to Cart", id: "add_to_cart" %></td>
  <% end %>
</div>
