<div class="container">

  <h1> My Cart </h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Active?</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.line_items.active.each do |line_item| %>
        <tr>
          <td> <%= line_item.user.email %> </td>
          <td> <%= line_item.book.title %> </td>
          <td> <%= line_item.book.price %> </td>
          <td> <%= line_item.quantity %>
               <%= link_to 'Edit Quantity', edit_line_item_path(line_item), id: "edit_quantity" %></td>
          <td> <%= line_item.total_price %> </td>
          <td> <%= line_item.active %> </td>
          <%= form_for(current_user.line_items.find_by(book_id: line_item.book.id),
                       method: :delete) do |f| %>
            <td><%= f.submit "Remove from Cart" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
