<!DOCTYPE html>
<html>
<head>
  <title>RutiBookstore</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log In", new_user_session_path %>
  <% end %>
 
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
